<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">febrina wijaya</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Febrina Wijaya</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">Feb 25, 1998</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Tainan, Taiwan</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">febrinawijaya98@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+886-958-385-783</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Blog</label>
                <span class="value"><a href="https://StepsOfMyAwesomeLife.blogspot.com/">https://StepsOfMyAwesomeLife.blogspot.com/</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            	Do what you love, love what you do.
	    </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Try everything. Failure is better than regretting that you never try.
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-5 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/pic1.jpg" alt="" />
            <img src="images/img-profile/pic2.JPG" alt="" />
            <img src="images/img-profile/pic3.JPG" alt="" />
	    <img src="images/img-profile/pic4.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Life Goals</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Make A Lot of Money</h6>
                    <p>I know everyone does, too.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Travel A Lot</h6>
                    <p>Not just to refrain from stress, we can make our knowledge wider by travelling.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Help People in Need</h6>
                    <p>Share happiness.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->




<div class="clear"></div>
</div>
<!-- End .profile -->
